body {
  font-family: 'Barlow', sans-serif;
  background-color: #283138;
}

h1 {
  font-size: 60px;
  color: #17a2b8;
  margin-bottom: 25px;
}

h2 {
  margin-top: 30px;
  font-size: 40px;
  color: #17a2b8;
}

h3 {
  color: #ffa500;
}

h4 {
  color: #17a2b8;
}

h5 {
  margin-top: 20px;
  color: #ffa500;
}

#resultsHeading {
  display: none;
}

#results {
  display: none;
}

#resultsSummary {
  color: white;
  margin-bottom: 15px;
}

.formRow1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formRow2 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

label {
  color: #ffa500;
  margin-top: 5px;
}

.form-group-left {
  margin-right: 30px;
}

button {
  margin-top: 20px;
  margin-right: -25px;
}

#alert {
  display: none;
  width: 520px;
  position: fixed;
  text-align: center;
  top: 3%;
  left: 32%;
  border: 1px solid #ffa500;
  background-color: rgba(255,165,0, .9);
  border-radius: 5px;
  padding: 20px;
}

.container p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.label {
  font-weight: bold;
}

.doctor {
  background-color: white;
  margin-bottom: 25px;
  padding: 35px;
}

.doctor:hover {
  background-color:	#F5F5F5;
}

.doctorBio {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.doctorDetails {
  background-color: #E8E8E8;
  padding: 20px;
  padding-bottom: 40px;
  display: none;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.practices {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.practice {
  margin-right: 15px;
}

img {
  margin-right: 40px;
  margin-top: 5px;
}

.showErrors {
  margin-top: 30px;
  color: white;
}

.showMore {
  display: none;
}

@media screen and (max-width: 1000px) {
  .formRow1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .formRow2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-group-left {
    margin-right: 0px;
  }

  #alert {
    left: auto;
    width: 400px;
  }

  h1 {
    font-size: 50px;
  }

  h4 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .doctorBio {
    grid-template-columns: 1fr;
  }

  .doctorDetails {
    grid-template-columns: 1fr;
  }

  .practices {
    grid-template-columns: 1fr;
  }
}
